In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import math

In [2]:
data = pd.read_csv('../data/raw/data.csv' ,low_memory=False)

In [3]:
df = data[["reviews.rating" ,"reviews.text", "reviews.title", "reviews.username"]]

In [4]:
# filtering

In [5]:
check = df[df["reviews.rating"].isnull()]
check[["reviews.text", "reviews.rating"]]

                                            reviews.text  reviews.rating
2886   The Kindle is my first e-ink reader. I own an ...             NaN
2887   I'm a first-time Kindle owner, so I have nothi...             NaN
2888   UPDATE NOVEMBER 2011:My review is now over a y...             NaN
2889   I'm a first-time Kindle owner, so I have nothi...             NaN
2890   I woke up to a nice surprise this morning: a n...             NaN
2891   The Kindle is my first e-ink reader. I own an ...             NaN
2892   UPDATE NOVEMBER 2011:br /br /My review is now ...             NaN
2893   I woke up to a nice surprise this morning: a n...             NaN
2894   I use to hate to read but now that I have my K...             NaN
2895   All of them quit working. There's absolutely n...             NaN
2896   I recently ordered my 8th Kindle. It was to re...             NaN
2897                                     Great. Love it.             NaN
2898   I researched the purchase of a Kindle for a lo...             NaN
2899   This thing has captured my wife's heart. She r...             NaN
2900   I got my Kindle a few years ago and barely use...             NaN
2901   It was excellent for me in one moment when I w...             NaN
2902   Bought for my husband for Christmas and I have...             NaN
2903   It simply works even after 3.5 years of consta...             NaN
2904   I would highly recommend them to everyone. Got...             NaN
3691   UPDATE: I bought both a Fire HD and a Gen 2. (...             NaN
3692   I just received my kindle fire today. I had a ...             NaN
3693   I purchased the Kindle Fire ten months ago for...             NaN
3694   My 7 year old son has the 1st gen Kindle Fire,...             NaN
14727  Having received my Fire TV today, I've been tr...             NaN
14728  I'm your typical middle-aged woman - I don't g...             NaN
14729  An Amazon.com official commented on this revie...             NaN
14731  Having received my Fire TV today, I've been tr...             NaN
14732  I am not a casual user of on-demand content an...             NaN
21226  My previous kindle was a DX, this is my second...             NaN
21227  Just got mine right now. Looks the same as the...             NaN
21228  As reviewed by the wife This is the perfect th...             NaN
21229  My new Kindle Paperwhite came from the USA to ...             NaN
29572  This stuff tastes great. It does have sugar in...             NaN

In [6]:
senti = df[df["reviews.rating"].notnull()]
senti.head()

,reviews.rating,reviews.text,reviews.title,reviews.username
0,5.0,This product so far has not disappointed. My c...,Kindle,Adapter
1,5.0,great for beginner or experienced person. Boug...,very fast,truman
2,5.0,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.,DaveZ
3,4.0,I've had my Fire HD 8 two weeks now and I love...,Good!!!,Shacks
4,5.0,I bought this for my grand daughter when she c...,Fantastic Tablet for kids,explore42

In [7]:
senti.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34627 entries, 0 to 34659
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   reviews.rating    34627 non-null  float64
 1   reviews.text      34626 non-null  object
 2   reviews.title     34621 non-null  object
 3   reviews.username  34620 non-null  object
dtypes: float64(1), object(3)
memory usage: 1.3+ MB

In [8]:
# cleaning

In [9]:
import nltk
from nltk.stem import SnowballStemmer 
from nltk.corpus import stopwords  
from nltk.tokenize import word_tokenize

In [10]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Priyanshu\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [11]:
!pip install stop_words

Requirement already satisfied: stop_words in c:\users\priyanshu\anaconda3\lib\site-packages (2018.7.23)

In [12]:
from stop_words import get_stop_words

In [13]:
stop_words = set(get_stop_words("en"))
nltk_words = set(stopwords.words("english"))
stop_words.update(nltk_words)
print(f"total unique stop words {len(stop_words)}")

total unique stop words 213

In [14]:
data_set = senti[["reviews.text" ,"reviews.rating"]]

In [15]:
data_set.head()

                                        reviews.text  reviews.rating
0  This product so far has not disappointed. My c...             5.0
1  great for beginner or experienced person. Boug...             5.0
2  Inexpensive tablet for him to use and learn on...             5.0
3  I've had my Fire HD 8 two weeks now and I love...             4.0
4  I bought this for my grand daughter when she c...             5.0

In [16]:
data_set["sentiment"] = np.where(data_set["reviews.rating"]>=4 ,1 ,-1)

C:\Users\Priyanshu\AppData\Local\Temp\ipykernel_12048\1554355054.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_set["sentiment"] = np.where(data_set["reviews.rating"]>=4 ,1 ,-1)

In [17]:
data_set

,reviews.text,reviews.rating,sentiment
0,This product so far has not disappointed. My c...,5.0,1
1,great for beginner or experienced person. Boug...,5.0,1
2,Inexpensive tablet for him to use and learn on...,5.0,1
3,I've had my Fire HD 8 two weeks now and I love...,4.0,1
4,I bought this for my grand daughter when she c...,5.0,1
...,...,...,...
34655,This is not appreciably faster than any other ...,3.0,-1
34656,Amazon should include this charger with the Ki...,1.0,-1
34657,Love my Kindle Fire but I am really disappoint...,1.0,-1
34658,I was surprised to find it did not come with a...,1.0,-1
34659,to spite the fact that i have nothing but good...,1.0,-1

In [18]:
from sklearn.utils import resample
df_majority = data_set[data_set["sentiment"]==1]
df_minority = data_set[data_set["sentiment"]==-1]

#downsample majority
df_majority_downsampled = resample(df_majority,n_samples=len(df_minority),random_state=42)

#balanced data
balanced_data = pd.concat([df_majority_downsampled, df_minority])

In [19]:
import nltk
import string
from nltk.stem import SnowballStemmer 
from nltk.corpus import stopwords  
from nltk.tokenize import word_tokenize  

#Converting Emojis to their Respective Emotions
df["reviews.text"] = df["reviews.text"].replace([r"\:\)",r"\:\-\)", r"\:\-\}",r"\;\-\}",r"\:\-\>",r"\;\-\)"], ["Happy","Happy","Happy","Happy","Happy","Happy"], regex=True)
df["reviews.text"] = df["reviews.text"].replace([r"\:\-\(",r"\:\(",r"\:\-\|",r"\;\-\(",r"\;\-\<",r"\|\-\{"], ["Sad", "Sad", "Sad", "Sad", "Sad", "Sad",], regex=True)
df["reviews.text"] = df["reviews.text"].replace([r"\:\D",r"\:\'\-\)",r"\:\`\-\("], ["laugh", "tear of joy", "tear of sadness"], regex=True)

# Download NLTK resources
nltk.download('punkt')
nltk.download('stopwords')

# Initialize stemmer and stopwords
stemmer = SnowballStemmer('english')
stop_words = set(stopwords.words('english'))

# Text preprocessing function
def preprocess_text(text):
    if not isinstance(text, str):
        return ""
    # Convert to lowercase
    text = text.lower()
    # Remove punctuation
    text = text.translate(str.maketrans('', '', string.punctuation))
    # Tokenize
    words = word_tokenize(text)
    # Remove stopwords and stem
    words = [stemmer.stem(w) for w in words if w not in stop_words and len(w) > 2]
    return ' '.join(words)

C:\Users\Priyanshu\AppData\Local\Temp\ipykernel_12048\1693510178.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["reviews.text"] = df["reviews.text"].replace([r"\:\)",r"\:\-\)", r"\:\-\}",r"\;\-\}",r"\:\-\>",r"\;\-\)"], ["Happy","Happy","Happy","Happy","Happy","Happy"], regex=True)
C:\Users\Priyanshu\AppData\Local\Temp\ipykernel_12048\1693510178.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["reviews.text"] = df["reviews.text"].replace([r"\:\-\(",r"\:\(",r"\:\-\|",r"\;\-\(",r"\;\-\<",r"\|\-\{"], ["Sad", "Sad", "Sad", "Sad", "Sad", "Sad",], regex=True)
C:\Users\Priyanshu\AppData\Local\Temp\ipykernel_12048\1693510178.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["reviews.text"] = df["reviews.text"].replace([r"\:\D",r"\:\'\-\)",r"\:\`\-\("], ["laugh", "tear of joy", "tear of sadness"], regex=True)
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Priyanshu\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Priyanshu\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [20]:
nltk.download('punkt_tab')
# Preprocess all reviews
balanced_data['processed_reviews'] = balanced_data['reviews.text'].apply(preprocess_text)

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\Priyanshu\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

In [21]:
from sklearn.metrics import classification_report, confusion_matrix, roc_curve, auc
from sklearn.model_selection import train_test_split

In [22]:
train, test = train_test_split(balanced_data, test_size=0.3, random_state=42)

In [23]:
# Save to CSV
train[['processed_reviews', 'sentiment']].to_csv('train.csv', index=False,header=False)
test[['processed_reviews', 'sentiment']].to_csv('test.csv', index=False,header=False)

In [24]:
# Read training data
with open("train.csv", 'r', encoding='utf-8') as file:
    reviews = list(csv.reader(file))

In [25]:
def get_text(reviews, score):
    return " ".join([r[0] for r in reviews if r[1] == str(score)])

negative_text = get_text(reviews, -1)
positive_text = get_text(reviews, 1)

In [26]:
import re
from collections import Counter
def count_text(text):
    words = re.split("\s+", text)
    return Counter(words)

negative_counts = count_text(negative_text)
positive_counts = count_text(positive_text)

In [27]:
# Get class counts
def get_y_count(score):
    return len([r for r in reviews if r[1] == str(score)])

positive_review_count = get_y_count(1)
negative_review_count = get_y_count(-1)

# Class probabilities
prob_positive = positive_review_count / len(reviews)
prob_negative = negative_review_count / len(reviews)

In [28]:
prob_negative,prob_positive

(0.5069551777434312, 0.49304482225656876)

In [29]:
# Improved prediction function with log probabilities
def make_class_prediction(text, counts, class_prob, class_count):
    log_prediction = math.log(class_prob) 
    text_counts = Counter(re.split("\s+", text))
    total_words = sum(counts.values()) + class_count
    
    for word in text_counts:
        word_prob = (counts.get(word, 0) + 1) / total_words
        log_prediction += text_counts[word] * math.log(word_prob)
    
    return log_prediction

In [30]:
def evaluate_model(test_data):
    actual = []
    predictions = []
    
    for review in test_data:
        if len(review) < 2:  # Skip malformed rows
            continue
            
        text = review[0]
        try:
            true_label = int(review[1])
        except ValueError:
            continue  # Skip header row if it exists
            
        actual.append(true_label)
        
        neg_pred = make_class_prediction(text, negative_counts, prob_negative, negative_review_count)
        pos_pred = make_class_prediction(text, positive_counts, prob_positive, positive_review_count)
        
        pred = -1 if neg_pred > pos_pred else 1
        predictions.append(pred)
    
    if not actual:  # Check if we have any valid data
        print("No valid test data found")
        return
    
    print("\nClassification Report:")
    print(classification_report(actual, predictions, target_names=['Negative', 'Positive']))
    
    print("\nConfusion Matrix:")
    print(confusion_matrix(actual, predictions))
    
    fpr, tpr, thresholds = roc_curve(actual, predictions, pos_label=1)
    print(f"\nAUC: {auc(fpr, tpr):.2f}")

In [31]:
test_data = []
with open("test.csv", 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        if len(row) >= 2:  # Only take rows with both text and label
            test_data.append(row)

In [32]:
# Evaluate model
evaluate_model(test_data)

Classification Report:
              precision    recall  f1-score   support

    Negative       0.79      0.72      0.75       671
    Positive       0.76      0.82      0.79       716

    accuracy                           0.77      1387
   macro avg       0.77      0.77      0.77      1387
weighted avg       0.77      0.77      0.77      1387


Confusion Matrix:
[[485 186]
 [129 587]]

AUC: 0.77

In [33]:
# Interactive prediction
def predict_sentiment():
    while True:
        review_text = input("\nEnter a review to analyze (or 'quit' to exit): ")
        if review_text.lower() == 'quit':
            break
        
        processed_text = preprocess_text(review_text)
        neg_pred = make_class_prediction(processed_text, negative_counts, prob_negative, negative_review_count)
        pos_pred = make_class_prediction(processed_text, positive_counts, prob_positive, positive_review_count)
        
        print("\nPredicted sentiment:", "POSITIVE" if pos_pred > neg_pred else "NEGATIVE")

# Run interactive prediction
print("\nReview Sentiment Analysis Tool")
predict_sentiment()

Review Sentiment Analysis Tool

Enter a review to analyze (or 'quit' to exit):  bad

Predicted sentiment: NEGATIVE

Enter a review to analyze (or 'quit' to exit):  quit